<div class="container">

  <div>
      <h1>Qualified Students</h1>
      <h2>The following students have a partial GPA higher than a 3.0 and are eligible for internship credit.</h2>
  </div>
  <div>
    <span>
      <% allCourses.forEach(course => {%>
      <h5> <%= course.name %> </h5>
      <span><%= course.avgGrade %> </span>
      <% }) %>
    </span>
  </div>

</div>