<div class="container">
  <div class="col-6 center">

  </div>
  <div>
    <span>
      <h1>Welcome!</h1>
      <h2 style="text-align: center">This is an internship approval app. The purpose of this app is to determine what students are eligible for the
        internship course.
        The user enters students' names and grades. The user can then view the students that are above the 2.5 partial
        GPA threshold.</h2>
    </span>

  </div>
</div>