<div class="container">

  <div class="col-6 center">
    <span>
      <p>Enter the student's name and their letter grades for the following courses.</p>
      <form class="contact-form" action="/newcourse" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" value="">
        <div>
          <label>Grades:</label>
        </div>
        <div>
          <label for="csc141">CSC141:</label>
          <input class="letterInput" type="text" name="csc141" value="">
        </div>
        <div>
          <label for="csc142">CSC142:</label>
          <input class="letterInput" type="text" name="csc142" value="">
        </div>
        <div>
          <label for="csc240">CSC240:</label>
          <input class="letterInput" type="text" name="csc240" value="">
        </div>
        <div>
          <label for="csc241">CSC241:</label>
          <input class="letterInput" type="text" name="csc241" value="">
        </div>

        <input type="submit" value="Submit">
      </form>
    </span>
  </div>

</div>