<div class="container">

  <div>
      <h1>Qualified Students</h1>
      <h2>The following students have a partial GPA higher than a 2.5 and are eligible for internship credit.</h2>
  </div>
  <div>
    <span>
      <% allStudents.forEach(student => {%>
        <% if(student.PartialGPA > 2.5) {%>
          <h5> <%= student.name + ": " + student.PartialGPA %> </h5>
        <% } %>
      <% }) %>
    </span>
  </div>

</div>